@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    font-family: Roboto, Arial;
    /* outline: 1px solid blue; */
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 10px
}

.thumbnail{
    width: 100%;
}

.video-thumb{
    margin: 0 0 12px;
}

.search-bar{
    display: block;
}

.video-info{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-profile{
    width: 40px;
    border-radius: 50%;
    padding: auto;
}

.video-details{
}

.title{
    font-size:14px;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 20px;
}


.channel, .stats{
    font-size:12px;
    color: grey;
}

