/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */

p{
    font-family: Arial;
    margin: 0 0;
}

.video-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 5px;
    width: 280px;
}

.views{
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin: 0 0 17px;
}

.channel{ 
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin: 0 0 17px;
}

.description{
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 20px;
    margin-bottom: 100px;
}

.apple{
    background-color: rgb(227, 64, 65);
    color: white;
    font-size: 14px;
    margin: 0 0 100px;
    padding: 18px 0;
    text-align: center;
}

.underline{
    cursor: pointer;
}

.underline:hover{ 
    text-decoration: underline;
}